$white-color: white;
$black-color: black;
$gray-back-color: #F1F1F1;
$red-color: red;
$gray-color: rgb(117,117,117);
$gary-hover:#ccc;
$font:"Montserrat", sans-serif;
$font24px: 24px;
$fontroboto:"Roboto", sans-serif;