/* mobile */
@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }
    .nav {
        display: block;
    }
    .nav li a {
        padding: 1px 24px;
    }
    .nav > li {
        display: block;
    }
    .nav > li:first-child {
        display: inline-block;
    }
    .nav .subnav {
        position: initial;
    }
    .nav .subnav a {
        padding: 5px 41px;
    }
    #header .search-btn  {
        display: none;
    }
    .s-col-full {
        width: 100%;
    }
    .contact-form {
        margin-top: 20px;
    }
    .form-submit {
        padding: 16px;
    }
    .icon-footer {
        padding: 0 8px;
    }
}
/* tablet */
@media (min-width: 740px) and (max-width:1023px) {
    .mobile-menu-btn {
        display: none;
    }
    .icon-footer {
        padding: 0 8px;
    }
}
/* pc */
@media (min-width: 1024px) {
    .mobile-menu-btn {
        display: none;
    }
}
