/* mobile , tablet */
@media (max-width: 1023px) {
    .header__left {
        border-right: none;
    }
    .container__nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .container__content-all {
        margin-top: 25px;
    }
    
}

/* Tablet: width >= 740px and width < 1024px */
@media (min-width: 740px) and (max-width: 1023px)  {

}

/* mobile  */
@media (max-width: 739px)  {
    .main {
        padding: 10px;
    }
    .header__left-h3 {
        text-align: center;
    }
    .header__left-icon {
        text-align: center;
    }
    .header__left-icon a {
        margin: 10px;
    }
    .slide-main {
        flex-direction: column;
        text-align: center;
    }
    .slide-img {
        display: flex;
    align-items: center;
    justify-content: center;
    }
    .slide-img img {
        margin: 0;

        width: 100%;
        height: 130px;
    }
    .slide-content {
        align-items: center;

    }
    .header__left {
        display: flex;
        flex-direction: column;
    }
    .header__left-img {
        display: flex;
        justify-content: center;
        margin-top: -50px;
        margin-bottom: 20px;
    }
    .header__left-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container__nav-list {
        z-index: 999;
        position: fixed;
        top: 85%;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .container__nav-item {
        background-color: white;

        width: 96px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container__content {
        margin-bottom: 90px;
    }
    .enjoin__item {
        flex-direction: column;
    }
    .enjoin__text {
        margin: 10px 0;
        text-align: center;
    }
    
}
